<% include ../../partials/header %>
<link href="css/main.css" rel="stylesheet" type="text/css" />

<div id="content">
  <span id="icon-music">♬</span>

  <div class="wrap">
    <p>
      (마이크와 가까울수록 인식률이 좋습니다)
    </p>
    <div id="result">
      <span class="final" id="final_span"></span>
      <span class="interim" id="interim_span"></span>
    </div>
    <button id="btn-mic" class="off">마이크 <span></span></button>
    <button id="btn-tts">Text to speech</button>
    <button id="btn-summary">회의 내용 요약</button>
    <audio id="audio" src="audio/ending.mp3"></audio>
    <br><br>
    <div>회의 요약 내용</div>
    <div id="summary-result">
      <!-- <span class="summary_text" id="summary_text_span"></span> -->
    </div>
    <!-- 
		<div>
		  <button onclick="document.getElementById('audio').play()">Play the Audio</button>
		  <button onclick="document.getElementById('audio').pause()">Pause the Audio</button>
		  <button onclick="document.getElementById('audio').volume+=0.2">Increase Volume</button>
		  <button onclick="document.getElementById('audio').volume-=0.2">Decrease Volume</button>
		</div>
		-->
    <br /><br />

    <!-- <h3>예약어 (마이크를 켠 상태에서 아래 문자를 읽어보세요)</h3>
    <ul>
      <li>레드, 그린, 옐로우, 오렌지, 그레이, 골드, 블랙</li>
      <li>알람</li>
      <li>노래 켜, 노래 꺼, 음악 켜, 음악 꺼</li>
      <li>볼륨업, 볼륨다운</li>
      <li>스피치, 말해줘</li>
    </ul> -->
  </div>
</div>

<script src="js/main.js"></script>



<!-- <% include ../../partials/footer %> -->
